---
layout: default
---

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <div class="entry-wrap">
      <div class="entry-content">
        {{ content }}
      </div>
      <aside class="entry-sidebar">
        {% include author %}
        {% if author_picture %}
          <img class="author-picture" src="{{ author_picture }}" alt="{{ author_name }}">
        {% endif %}
        <a href="https://stackoverflow.com/users/3147247/kafran"><img src="https://stackoverflow.com/users/flair/3147247.png?theme=clean" width="208" height="58" alt="profile for kafran at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="Profile for Kolmar Kafran at Stack Overflow."></a>
      </aside>
    </div>
  </div>
</main>
